        .box {
	       font-family: "Roboto","Helvetica","Arial",sans-serif;
		   text-align: center;
	       border-style: solid;
           border-width: 1px;
           border-color: #3eb249;
           padding-top: 30px;
           padding-right: 20px;
           padding-bottom: 30px;
           padding-left: 20px;
           margin-bottom: 40px;       
	       box-shadow: 0 4px 4px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		}
		
	/* Adjust the width of the left reveal menu. */
		#demo-page #left-panel.ui-panel {
			width: 15em;
		}
		#demo-page #left-panel.ui-panel-closed {
			width: 0;
		}
		#demo-page .ui-panel-page-content-position-left,
		.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
			left: 15em;
			right: -15em;
		}
		#demo-page .ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
			left: 0;
			right: 0;
			-webkit-transform: translate3d(15em,0,0);
			-moz-transform: translate3d(15em,0,0);
			transform: translate3d(15em,0,0);
		}

		/* Listview with collapsible list items. */
	    .ui-listview > li .ui-collapsible-heading {
	      margin: 0;
	    }
	    .ui-collapsible.ui-li-static {
	      padding: 0;
	      border: none !important;
	    }
	    .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
	      border-top: none !important;
	    }
	    /* Nested list button colors */
	    .ui-listview .ui-listview .ui-btn {
	    	background: #fff;
	    }
	    .ui-listview .ui-listview .ui-btn:hover {
	    	background: #f5f5f5;
	    }
	    .ui-listview .ui-listview .ui-btn:active {
	    	background: #f1f1f1;
	    }

		/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
		#demo-page .ui-panel-display-reveal {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		#demo-page .ui-panel-page-content-position-left {
			-webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
			-moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
			box-shadow: -5px 0px 5px rgba(0,0,0,.15);
		}

		/* Setting a custom background image. */
		#demo-page.ui-page-theme-a,
		#demo-page .ui-panel-wrapper {
			background-color: #fff;
			background-image: url("img/bg-pattern.png");
			background-repeat: repeat-x;
			background-position: left bottom;
		}

		/* Styling of the page contents */
		@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
        .post-body::first-line { /* Keseluruhan Baris Pertama */
        color:#cd1c1f;
		}
        .post-body::first-letter { /* Huruf Pertama */
            font-family:'Berkshire Swash', cursive;
            float:left;
            font-size:80px;
            font-weight:600;
            line-height:1;
            margin-right:16px;
		}
		.article .box {
		    line-height: 1.5;
			color: #000000;
	        background: #ffffff;
	        height: calc(100% - 70px);
	        overflow-y: auto;
	        -moz-box-shadow: inset 0 0 10px #000;
	        -webkit-box-shadow: inset 0 0 10px #000;
	        box-shadow: inset 0 0 10px #000;
		}
		.article .box p {
		    margin: 20px 10% 20px 10%;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif
		    
		}
		@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
		.article p {
			margin: 0 0 1em;
			line-height: 1.5;
		}
		.article p img {
			max-width: 100%;
		}
		
		.article small {
			display: block;
			font-size: 75%;
			color: #c0c0c0;
		}
		
		.article a {
           cursor: pointer;
           text-decoration: none;
       }

		.article a.ui-btn {
			margin-right: 2em;
		}
	    
		.effect-one > a {
            position: relative;
        }
        .effect-one > a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            margin: -5px 0;
            background-color: white;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.4s ease-in-out 0s;
        }
        .effect-one > a:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
		@media all and (min-width:769px) {
			.article {
				max-width: 994px;
				margin: 0 auto;
				padding-top: 4em;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				-webkit-column-gap: 2em;
				-moz-column-gap: 2em;
				column-gap: 2em;
			}
			/* Fix for issue with buttons and form elements
			if CSS columns are used on a page with a panel. */
			.article a.ui-btn {
				-webkit-transform: translate3d(0,0,0);
			}
		}

