/* Demo styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
  font-family: "Open Sans", sans-serif;
  background: #21242C;
  color: white;
  font-size: 20px;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ol, li {
  margin: 0;
  padding: 0;
}

li {
  padding: 12px;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0 auto;
}

/**
 * ANIMATIONS CSS ---------------------------------
 */
.effect-one > a {
  position: relative;
}
.effect-one > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.effect-one > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.effect-two > a {
  display: inline-block;
  position: relative;
}
.effect-two > a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  margin: -5px 0;
  right: 0;
  background-color: white;
  transition: all 0.4s ease-in 0s;
}
.effect-two > a:hover:after {
  width: 100%;
}

.effect-three > a {
  display: inline-block;
  position: relative;
}
.effect-three > a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  margin: -5px 0;
  left: 0;
  background-color: white;
  transition: all 0.4s ease-in 0s;
}
.effect-three > a:hover:after {
  width: 100%;
}

.effect-four > a {
  padding: 0 0 4px 0;
  border-bottom: 2px solid #21242C;
  transition: 0.3s ease;
}
.effect-four > a:hover {
  padding: 0 0 6px 0;
  border-color: white;
}

.effect-five > a {
  padding: 0 5px;
  box-shadow: inset 0 0 0 0 white;
  transition: all 0.4s ease-in-out 0s;
}
.effect-five > a:hover {
  box-shadow: inset -300px 0 0 0 white;
  color: #21242C;
}

.effect-six > a {
  padding: 0 5px;
  box-shadow: inset 0 0 0 0 white;
  transition: all 0.4s ease-in-out 0s;
}
.effect-six > a:hover {
  box-shadow: inset 300px 0 0 0 white;
  color: #21242C;
}

.effect-seven > a {
  padding: 0 5px;
  box-shadow: inset 0 0 0 0 white;
  transition: all 0.5s ease-in-out 0s;
}
.effect-seven > a:hover {
  box-shadow: inset 0 -300px 0 0 white;
  color: #21242C;
}

.effect-eight > a {
  padding: 0 5px;
  box-shadow: inset 0 0 0 0 white;
  transition: all 0.5s ease-in-out 0s;
}
.effect-eight > a:hover {
  box-shadow: inset 0 300px 0 0 white;
  color: #21242C;
}